<?xml version="1.0" ?>
<settings version="1">
	<section id="script.video.smartishplaylist">

        <category id="general" label="32001" help="">
            <group id="1" label="">

                <setting id="playlist_type" type="integer" label="32014" help="32015">
                    <level>0</level>
                    <default>0</default>
                    	<constraints>
		                    <options>
			                    <option label="Manual">0</option>
			                    <option label="Smart">1</option>
		                    </options>
	                    </constraints>
	                <control type="list" format="string"/>
                </setting>

                <setting id="build_at_startup" type="boolean" label="32002" help="32003">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>

                <setting id="auto_play" type="boolean" label="32004" help="32005">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>

                <setting id="shuffle" type="boolean" label="32006" help="32007">
                    <dependencies>
	                    <dependency type="visible" setting="auto_play">true</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>

                <setting id="auto_quit" type="boolean" label="32008" help="32009">
                    <dependencies>
	                    <dependency type="visible" setting="auto_play">true</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>

                <setting id="auto_quit_minutes" type="integer" label="32010" help="32011">
                    <dependencies>
	                    <dependency type="visible" setting="auto_quit">true</dependency>
                    </dependencies>
                    <level>0</level>
	                <default>60</default>
	                <control type="edit" format="integer">
	                </control>
                </setting>

                <setting id="review_selections" type="action" label="32012" help="32013">
	                <level>0</level>
	                <default/>
	                <constraints>
		            <allowempty>true</allowempty>
	                </constraints>
	                <control type="button" format="action">
                        <data>RunScript(script.video.smartishplaylist,review_selections)</data>
	                </control>
                </setting>

			</group>
		</category>

        <category id="manual" label="32050" help="">
            <group id="1" label="32051">

                <setting id="movie_selection" type="action" label="32052" help="32053">
	                <level>0</level>
	                <default/>
	                <constraints>
		            <allowempty>true</allowempty>
	                </constraints>
	                <control type="button" format="action">
                        <data>RunScript(script.video.smartishplaylist,select_movies)</data>
	                </control>
                </setting>

                <setting id="number_of_movies" type="integer" label="32054" help="32055">
                    <level>0</level>
	                <default>5</default>
	                <control type="edit" format="integer">
	                </control>
                </setting>

                <setting id="clear_movie_selection" type="action" label="32056" help="32057">
	                <level>0</level>
	                <default/>
	                <constraints>
		            <allowempty>true</allowempty>
	                </constraints>
	                <control type="button" format="action">
                        <data>RunScript(script.video.smartishplaylist,clear_movies)</data>
	                </control>
                </setting>

            </group>

            <group id="2" label="32101">

                <setting id="show_selection" type="action" label="32102" help="32103">
	                <level>0</level>
	                <default/>
	                <constraints>
		            <allowempty>true</allowempty>
	                </constraints>
	                <control type="button" format="action">
                        <data>RunScript(script.video.smartishplaylist,select_shows)</data>
	                </control>
                </setting>

                <setting id="configure_shows" type="action" label="32104" help="32105">
	                <level>0</level>
	                <default/>
	                <constraints>
		            <allowempty>true</allowempty>
	                </constraints>
	                <control type="button" format="action">
                        <data>RunScript(script.video.smartishplaylist,configure_shows)</data>
	                </control>
                </setting>

                <setting id="default_number_of_episodes" type="integer" label="32106" help="32107">
                    <level>0</level>
	                <default>5</default>
	                <control type="edit" format="integer">
	                </control>
                </setting>

                <setting id="clear_tvshow_selection" type="action" label="32108" help="32109">
	                <level>0</level>
	                <default/>
	                <constraints>
		            <allowempty>true</allowempty>
	                </constraints>
	                <control type="button" format="action">
                        <data>RunScript(script.video.smartishplaylist,clear_tvshows)</data>
	                </control>
                </setting>

            </group>

        </category>

        <category id="smart" label="32151" help="">
            <group id="1" label="">
            <setting id="select_smart" type="action" label="32152" help="32153">
                <level>0</level>
                <default/>
                <constraints>
                    <allowempty>true</allowempty>
                </constraints>
                <control type="button" format="action">
                    <data>RunScript(script.video.smartishplaylist,select_smart)</data>
                </control>
            </setting>
            </group>
        </category>

       <category id="misc" label="32201" help="">
           <group id="1" label="">

               <setting id="batch_method" type="integer" label="32202" help="32203">
                   <level>3</level>
                    <default>0</default>
                    	<constraints>
		                    <options>
			                    <option label="Size">0</option>
			                    <option label="Group">1</option>
		                    </options>
	                    </constraints>
	                <control type="list" format="string"/>
               </setting>

               <setting id="batch_size" type="integer" label="32204" help="32205">
                   <level>3</level>
                   <dependencies>
	                    <dependency type="visible" setting="batch_method">0</dependency>
                    </dependencies>
	                <default>25</default>
	                <control type="edit" format="integer">
	                </control>
                </setting>

               <setting id="number_of_batches" type="integer" label="32206" help="32207">
                   <level>3</level>
                   <dependencies>
	                    <dependency type="visible" setting="batch_method">1</dependency>
                    </dependencies>
	                <default>10</default>
	                <control type="edit" format="integer">
	                </control>
                </setting>

           </group>
       </category>

	</section>
</settings>